.affiliate {
  padding: 75px 0px 126px 0px;
  min-height: 991px;
  background-image: url(../images/affiliate/tel.png);
  background-repeat: no-repeat;
  background-position: top 66px left -9px;

  @include media-w($mdb) {
    background-position: top -39px left -120px;
  }

  @include media-w($sm) {
    background-image: url(../images/affiliate/tel-mobile.png);
    background-position: top 0px left 158px;
  }

  @include media-w($smx) {
    padding: 30px 0px 0px 0px;
    background-position: top 11px left -38px;
  }

  @include media-w($xxs) {
    background-position: top 11px left -81px;
  }

  &__content {
    max-width: 497px;
    margin: 138px 95px 0px auto;

    @include media-w($sxl) {
      margin: 935px auto 0px auto;
    }

    @include media-w($mdb) {
      margin: 937px auto 0px auto;
    }

    @include media-w($sm) {
      margin: 550px auto 0px auto;
    }
  }

  &__title {
    margin-bottom: 54px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    @include overflow($row);

    @include media-w($smx) {
      margin: 0px 0px 54px -7px;
      max-width: 185px;
      @include overflow($row-2);
    }
  }

  &__list {
    margin-bottom: 137px;

    @include media-w($smx) {
      margin: 0px 0px 70px -4px;
    }

    @include media-w($xss) {
      margin: 0px 0px 70px 0px;
    }
  }

  &__item {

    &--one {
      margin-bottom: 8px;

      @include media-w($smm) {
        margin-bottom: 9px;
      }
    }

    &--two {
      margin-bottom: 17px;
    }

    &--three {
      margin-bottom: 18px;

      @include media-w($smm) {
        margin-bottom: 20px;
      }
    }

    &--four {
      margin-bottom: 16px;

      @include media-w($smm) {
        margin-bottom: 14px;
      }
    }

    &--five {
      margin-bottom: 14px;

      @include media-w($smm) {
        margin-bottom: 15px;
      }
    }

    &--six {
      margin-bottom: 16px;

      @include media-w($smm) {
        margin-bottom: 15px;
      }
    }

    &--seven {
      margin-bottom: 0px;
    }
  }

  &__level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -3px;

    &--one {
      max-width: 350px;

      @include media-w($smm) {
        max-width: 288px;
      }
    }

    &--two {
      max-width: 285px;
    }

    &--three {
      max-width: 285px;
    }

    &--four {
      max-width: 300px;
    }

    &--five {
      max-width: 300px;
    }

    &--six {
      max-width: 300px;
    }

    &--seven {
      max-width: 309px;
    }
  }

  &__grade {
    font-size: 14px;
    line-height: 2.28;
    text-align: center;
    color: $white;
    @include overflow($row);
  }

  &__handling {
    position: relative;
    padding-left: 60px;
    font-size: 16px;
    line-height: 1.25;
    @include overflow($row);

    @include media-w($xxs) {
      font-size: 14px;
    }


    &--one {
      background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);

      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 1px;
        background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
        box-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
        border-radius: 17px;

        @include media-w($smm) {
          height: 2px;
          left: 4px;
          width: 28px;
        }
      }
    }

    &--two {
      text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
      background: linear-gradient(139.33deg, #CAEE39 -14.59%, #E99A3D 99.86%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 1px;
        background: linear-gradient(139.33deg, #CAEE39 -14.59%, #E99A3D 99.86%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
        border-radius: 25px;

        @include media-w($smm) {
          height: 2px;
          left: 4px;
          width: 28px;
        }
      }
    }

    &--three {
      text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
      background: linear-gradient(139.33deg, #CAEE39 -14.59%, #E99A3D 99.86%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 1px;
        background: linear-gradient(139.33deg, #CAEE39 -14.59%, #E99A3D 99.86%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
        border-radius: 25px;

        @include media-w($smm) {
          height: 2px;
          left: 8px;
          width: 28px;
        }
      }
    }

    &--four {
      background: linear-gradient(139.33deg, #EED139 -14.59%, #E9713D 99.86%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 1px;
        background: linear-gradient(139.33deg, #CAEE39 -14.59%, #E99A3D 99.86%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
        border-radius: 25px;

        @include media-w($smm) {
          height: 2px;
          left: 1px;
          width: 28px;
        }
      }
    }

    &--five {
      background: linear-gradient(139.33deg, #EED139 -14.59%, #E9713D 99.86%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 1px;
        background: linear-gradient(139.33deg, #CAEE39 -14.59%, #E99A3D 99.86%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
        border-radius: 25px;

        @include media-w($smm) {
          height: 2px;
          left: 3px;
          width: 28px;
        }
      }
    }

    &--six {
      background: linear-gradient(139.33deg, #EE6439 -14.59%, #E9713D 99.86%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 1px;
        background: linear-gradient(139.33deg, #EE6439 -14.59%, #E9713D 99.86%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
        border-radius: 25px;

        @include media-w($smm) {
          height: 2px;
          left: 5px;
          width: 28px;
        }
      }
    }

    &--seven {
      background: linear-gradient(139.33deg, #EE6439 -14.59%, #E9713D 99.86%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 1px;
        background: linear-gradient(139.33deg, #EE6439 -14.59%, #E9713D 99.86%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
        border-radius: 25px;

        @include media-w($smm) {
          height: 2px;
          left: 2px;
          width: 28px;
        }
      }
    }
  }

  &__hidden-span {
    @include media-w($smm) {
      display: none;
    }
  }

  &__bars {
    max-width: 487px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($smx) {
      max-width: 404px;
    }

    @include media-w($xss) {
      max-width: 310px;
    }

    @include media-w($xxs) {
      max-width: 280px;
    }

    &--one {
      max-width: 497px;

      @include media-w($smx) {
        max-width: 388px;
      }

      @include media-w($xss) {
        max-width: 310px;
      }

      @include media-w($xxs) {
        max-width: 280px;
      }
    }
  }

  &__bar {
    position: relative;
    width: 418px;
    height: 8px;
    border-radius: 17px;

    @include media-w($smx) {
      width: 318px;
    }

    @include media-w($xss) {
      width: 220px;
    }

    &--one {
      background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
      box-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
    }

    &--two {
      background: #3C3A46;
      box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
      border-radius: 25px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 50%);
        height: 8px;
        background: linear-gradient(139.33deg, #CAEE39 -14.59%, #E99A3D 99.86%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
        border-radius: 25px;
        z-index: 1;
      }
    }

    &--three {
      background: #3C3A46;
      box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
      border-radius: 25px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 50%);
        height: 8px;
        background: linear-gradient(139.33deg, #CAEE39 -14.59%, #E99A3D 99.86%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
        border-radius: 25px;
        z-index: 1;
      }
    }

    &--four {
      background: #3C3A46;
      box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
      border-radius: 25px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 62%);
        height: 8px;
        background: linear-gradient(139.33deg, #EED139 -14.59%, #E9713D 99.86%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
        border-radius: 25px;
        z-index: 1;
      }
    }

    &--five {
      background: #3C3A46;
      box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
      border-radius: 25px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 62%);
        height: 8px;
        background: linear-gradient(139.33deg, #EED139 -14.59%, #E9713D 99.86%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
        border-radius: 25px;
        z-index: 1;
      }
    }

    &--six {
      background: #3C3A46;
      box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
      border-radius: 25px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 76%);
        height: 8px;
        background: linear-gradient(139.33deg, #EE6439 -14.59%, #E9713D 99.86%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
        border-radius: 25px;
        z-index: 1;
      }
    }

    &--seven {
      background: #3C3A46;
      box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
      border-radius: 25px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 76%);
        height: 8px;
        background: linear-gradient(139.33deg, #EE6439 -14.59%, #E9713D 99.86%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
        border-radius: 25px;
        z-index: 1;
      }
    }
  }

  &__procent {
    @extend %Montserrat-800;
    font-size: 26px;
    line-height: 1.23;
    max-width: 70px;
    @include overflow($row);

    @include media-w($xss) {
      font-size: 20px;
    }

    &--one {
      text-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);
      background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--two {
      text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
      background: linear-gradient(139.33deg, #CAEE39 -14.59%, #E99A3D 99.86%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
    }

    &--three {
      background: linear-gradient(139.33deg, #CAEE39 -14.59%, #E99A3D 99.86%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
    }

    &--four {
      background: linear-gradient(139.33deg, #EED139 -14.59%, #E9713D 99.86%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
    }

    &--five {
      background: linear-gradient(139.33deg, #EED139 -14.59%, #E9713D 99.86%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
    }

    &--six {
      background: linear-gradient(139.33deg, #EE6439 -14.59%, #E9713D 99.86%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
    }

    &--seven {
      background: linear-gradient(139.33deg, #EE6439 -14.59%, #E9713D 99.86%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
    }
  }

  &__text {
    position: relative;
    margin-left: -186px;
    width: 722px;
    line-height: 1.5;
    color: $gray;
    @include overflow($row-10);


    @include media-w($sxl) {
      margin-left: 0;
    }

    @include media-w($mdl) {
      width: 100%;
      max-width: 100%;
    }

    @include media-w($smx) {
      width: 86%;
      max-width: 70%;
      margin-left: 14%;
    }

    @include media-w($xss) {
      margin-left: 20%;
    }

    @include media-w($xxs) {
      font-size: 14px;
      margin-left: 24%;
    }

    &::before {
      position: absolute;
      content: '';
      top: -24px;
      left: -113px;
      width: 111px;
      height: 111px;
      background-image: url(../images/affiliate/i.png);
      @extend %bg-center-cover;
    }
  }

  &__hidden {
    @include media-w($smx) {
      transition: margin 0.7s;
      margin-left: -2954px;
    }
  }

  &__hidden--active {
    margin-left: 0px;
  }

  &__btn {
    margin-bottom: 10px;
    position: relative;
    display: none;

    @include media-w($smx) {
      display: block;
      background-color: transparent;
      color: #B4F299;
      border: none;
      padding-right: 18px;

      &--hidden {
        display: none;
      }

      &--in {
        display: none;
      }
    }

    @include media-w($smx) {
      margin: 21px 0px 0px 57px;
      font-size: 14px;
      line-height: 20px;
    }

    &::after {
      position: absolute;
      content: '';
      right: -6px;
      top: 8px;
      width: 20px;
      height: 20px;
      background-image: url(../images/token/aplication/polygon.png);
      @extend %bg-center-contain;
      transform: rotate(-31deg);
    }
  }

  &__botton {
    margin-bottom: 10px;
    position: relative;
    display: none;

    @include media-w($sxla) {
      background-color: transparent;
      color: #B4F299;
      border: none;
      padding-right: 18px;

      &--open {
        display: block;
      }

      &--in {
        display: none;
      }
    }

    @include media-w($smx) {
      margin: 10px 0px 0px 63px;
      font-size: 14px;
      line-height: 20px;
    }

    &::after {
      position: absolute;
      content: '';
      right: -16px;
      top: 2px;
      width: 20px;
      height: 20px;
      background-image: url(../images/token/aplication/polygon.png);
      transform: rotate(-90deg);
      @extend %bg-center-contain;
    }
  }
}