.header {
  position: relative;
  padding: 76px 0;

  @include media-w($smm) {
    padding: 12px 0;
  }

  &::before {
    position: absolute;
    content: '';
    width: 848px;
    height: 848px;
    left: -229px;
    top: -285px;
    background-color: #0F3123;
    filter: blur(430px);
    z-index: -1;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($smm) {
      max-width: 393px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    margin: 0px 0px 29px 49px;
    max-width: 279px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    margin-right: 13px;
    font-size: 14px;
    width: 169px;
    height: 40px;

    @include media-w($mdb) {
      display: none;
    }
  }

  &__button {
    position: relative;
    width: 106px;
    height: 40px;
    margin: 8px;
    color: $white;
    background-color: $bg;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: all 0.5s;

    @include media-w($xl) {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      bottom: -4px;
      left: -4px;
      right: -4px;
      background-image: url(../images/menu/button.png);
      @extend %bg-center-contain;
    }

    &:hover {
      background: linear-gradient(180deg, #e2f685 0%, #8af9ad 100%);
      color: $bg;
    }

    &:focus {
      @extend %btn-focus;
    }

  }

  &__mobile-button {
    background-color: transparent;
    border: transparent;
    padding: 7px;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: border 0.5s;
    display: none;

    @include media-w($xl) {
      display: block;
    }

    @include media-w($smm) {
      margin-right: 15px;
    }

    &:hover {
      border: 2px solid $accent;
    }
  }

  &__svg {
    width: 28px;
    height: 26px;
    fill: #B4F299;
    transition: fill 0.5s;

    &:hover {
      fill: rgba(187, 195, 35, 1);
    }
  }

  &__menu-open {
    background-color: transparent;
    border: transparent;
    padding: 7px;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: border 0.5s;
    display: none;
    z-index: 15;

    @include media-w($mdl) {
      display: block;
    }

    &:hover {
      border: 2px solid $accent;
    }
  }

  &__svg-menu {
    width: 32px;
    height: 20px;
  }
}