.revolution {
  position: relative;
  padding: 173px 0px 0px 0px;

  &__aside {
    position: absolute;
    left: -113px;
    top: 204px;
    transform: rotate(-90deg);
    width: 331px;
    z-index: 1;

    @include media-w($xl) {
      display: none;
    }
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__link {
    padding: 15px 5px;
    font-size: 14px;
    line-height: 1.2;
    color: $gray;
    transition: 0.5s;
    border: 1px solid transparent;
    border-radius: 10px;

    &:focus {
      border: 1px solid $accent;
    }

    &:hover {
      color: $accent;
      position: absolute;
      transform: rotate(90deg);
      font-weight: 700;
    }

    &:active {
      box-shadow: 10px 7px 10px 0px $accent;
    }

    &--one {
      position: absolute;
      top: -20px;
      left: -6px;
    }

    &--two {
      position: absolute;
      top: -21px;
      left: 125px;
    }

    &--three {
      position: absolute;
      top: -20px;
      left: 256px;
    }
  }

  &__inner {
    margin: -418px 0px 0px 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($xl) {
      flex-direction: column-reverse;
      margin-bottom: 63px;
    }

    @include media-w($sms) {
      margin: -331px 0px 0px -9px;
    }
  }

  &__content {
    margin-top: -112px;
    z-index: 4;

    @include media-w($xl) {
      margin: -74px 0px 123px 0px;
    }

    @include media-w($sms) {
      margin: -74px 0px 109px 0px;
      z-index: 1;
    }
  }

  &__title {
    max-width: 549px;
    max-width: 100%;
    @extend %Montserrat-800;
    font-size: 48px;
    line-height: 1.22;
    color: $accent;
    margin-bottom: 25px;
    transition: margin 0.5s;

    &--active {
      margin-top: 250px;
    }

    @include media-w($xl) {
      max-width: 549px;
    }

    @include media-w($sms) {
      font-size: 31px;
      margin-bottom: 26px;
    }
  }

  &__subtitle {
    display: block;
    font-size: 18px;
    line-height: 1.22;
    color: $gray;
    margin-bottom: 36px;

    @include media-w($sms) {
      max-width: 232px;
      margin-bottom: 28px;
    }
  }

  &__btn {
    width: 213px;
    height: 62px;
    border-radius: 17px
  }

  &__representation {
    padding-top: 112px;
    position: relative;
    margin-left: -74px;
    position: relative;
    width: 1110px;
    height: 999px;

    @include media-w($xl) {
      width: 100%;
      height: auto;
    }
  }

  &__img {
    z-index: -1;
    margin: -88px 0px 0px -2px;
    max-width: 133%;
    object-fit: cover;

    @include media-w($xl) {
      max-width: 100%;
      width: 100%;
      height: auto;
    }

    @include media-w($sms) {
      margin: -108px 0px 0px 15px;
    }

  }

  &__blur {
    position: absolute;
    width: 123px;
    height: 123px;
    left: 189px;
    top: 476px;
    background: #A2DC89;
    filter: blur(110px);
    z-index: 2;

    @include media-w($sms) {
      left: 251px;
      top: 165px;
      width: 74px;
      height: 74px;
      background: #A2DC89;
      filter: blur(110px);
    }



    &--one {
      position: absolute;
      width: 73px;
      height: 73px;
      left: 135px;
      top: 585px;
      background: #A2DC89;
      filter: blur(110px);
    }
  }

  &__down {
    border: 2px solid transparent;
    border-radius: 4px;
    position: absolute;
    left: 109px;
    bottom: 167px;
    transition: 0.5s;
    z-index: 20;

    @include media-w($xl) {
      left: 50%;
      transform: translateX(-50%);
    }

    @include media-w($sms) {
      display: none;
    }

    &:focus {
      box-shadow: 10px 7px 10px 0px $accent;
    }

    &:hover {
      border: 2px solid $accent;
    }
  }

  &__cards {
    display: flex;
    max-width: 1297px;
    margin: -53px auto 0px;
    justify-content: space-between;
  }

  &__card {}

  &__card-link {
    padding: 48px 84px 52px 46px;
    position: relative;
    display: block;
    width: 292px;
    height: 259px;
    border-radius: 20px;
    transition: 0.5s;

    @include media-w($xl) {
      width: 100%;
      height: 332px;
    }

    @include media-w($mdl) {
      width: 100%;
    }


    &::before {
      position: absolute;
      content: '';
      width: 292px;
      height: 259px;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
      background-image: url(../images/revolution/card-border.png);
      @extend %bg-center-cover;

      @include media-w($xl) {
        height: 277px;
        width: 313px;
      }

      @include media-w($md) {
        height: 315px;
        width: 355px;
      }

      @include media-w($sm) {
        height: 240px;
        width: 270px;
      }

    }

    &::after {
      position: absolute;
      content: '';
      top: -41px;
      right: -27px;
      left: -74px;
      bottom: -14px;
      background-image: url(../images/revolution/card-border-hover.png);
      display: none;

      @include media-w($md) {
        top: -41px;
        right: -27px;
        left: -74px;
        bottom: -14px;
        height: 327px;
        width: 400px;
      }

      @include media-w($smz) {
        height: 327px;
        width: 400px;
        top: -45px;
        right: -15px;
        left: -72px;
        bottom: -61px;
      }

      @include media-w($sms) {
        background-image: url(../images/revolution/card-border-hover1.png);
        width: 325px;
        height: 303px;
        top: -45px;
        right: 0px;
        left: -43px;
        bottom: -81px;
      }
    }

    &:hover {
      margin-top: -30px;
      width: 314px;
      height: 279px;
      background: rgba(5, 4, 14, 0.4);
      box-shadow: 0px 34px 74px rgba(162, 220, 137, 0.2);
      border-radius: 20px;

      &::before {
        display: none;
      }

      &::after {
        display: block;
      }

      & .revolution__card-span {
        color: $hover-span;
      }

      & .revolution__card-square {
        background: linear-gradient(139.33deg, #BBC423 -14.59%, #E99A3D 99.86%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
      }

      & .revolution__card-svg path {
        fill: $white;
      }

      @include media-w($smz) {
        width: 275px;
        height: 251px;
      }
    }
  }

  &__card-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;

    @include media-w($xl) {
      max-width: 170px;
    }
  }

  &__card-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    border: 1px solid $green;
    border-radius: 10px;
    background-color: $bg;
  }

  &__card-span {
    display: block;
    @extend %Montserrat-700;
    font-size: 16px;
    line-height: 1.43;
    text-transform: uppercase;
    color: $white;
  }

  &__card-content {
    font-size: 14px;
    line-height: 1.64;
    color: $white;
    width: 161px;
  }

  .slick-slider .slick-list {
    padding-top: 45px;
  }

  .slick-next {
    position: absolute;
    background-color: transparent;
    border: transparent;
    bottom: 68px;
    left: 106px;

    svg {
      display: none;

      @include media-w($sms) {
        display: block;
      }
    }
  }

  .slick-prev {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}