.specifications {
  padding: 100px 0 10px 0px;

  &__upper {
    margin: 0px 0px 0px -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;

    @include media-w($xl) {
      max-width: 100%;
      flex-direction: column;
    }
  }

  &__card {
    padding: 37px 87px 70px 74px;
    position: relative;
    width: 612px;
    height: 579px;
    background: rgba(5, 4, 14, 0.4);
    border-radius: 20px;

    @include media-w($xl) {
      padding: 37px 87px 0px 74px;
    }

    @include media-w($smm) {
      height: auto;
      padding: 37px 87px 7px 74px;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url(../images/specifications/card-border.png);
      @extend %bg-center-cover;

      @include media-w($xl) {
        display: none;
      }
    }
  }

  &__card-up {
    position: relative;
    width: 451px;
    height: 343px;

    &::before {
      content: '';
      position: absolute;
      width: 511px;
      height: 511px;
      top: -109px;
      left: 9px;
      background-image: url(../images/specifications/card-big.png);
      @extend %bg-center-cover;

      @include media-w($smm) {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 511px;
      height: 511px;
      top: -109px;
      left: 9px;
      background-image: url(../images/specifications/card-litle.png);
      @extend %bg-center-cover;
      display: none;

      @include media-w($smm) {
        display: block;
        width: 400px;
        height: 511px;
        top: -185px;
        left: 47px;
      }

      @include media-w($xss) {
        width: 370px;
        height: 480px;
      }

      @include media-w($xs) {
        width: 350px;
        height: 460px;
      }
    }
  }

  &__span {
    font-size: 14px;
    line-height: 2.28;
    text-align: center;
  }

  &__span--airdrop {
    position: absolute;
    top: 28px;
    left: 120px;

    @include media-w($smm) {
      top: -59px;
    }

    @include media-w($xs) {
      top: -75px;
    }
  }

  &__span--marketing {
    position: absolute;
    bottom: 53px;
    left: 0px;

    @include media-w($smm) {
      bottom: 172px;
      left: 30px;
    }

    @include media-w($xs) {
      bottom: 159px;
      left: 124px;
    }
  }

  &__span--sale {
    position: absolute;
    right: 0px;
    top: 88px;

    @include media-w($smm) {
      top: -47px;
      right: 103px;
    }
  }

  &__card-bottom {
    margin: 59px auto 0px auto;
    max-width: 100%;
    color: $accent;

    @include media-w($smm) {
      margin: -125px auto 0px -27px;
    }

    @include media-w($xs) {
      margin: -125px auto 0px 0px;
    }
  }

  &__minimum {
    @extend %Montserrat-700;
    margin: 0px 57px 8px 76px;
    font-size: 16px;
    line-height: 1.44;

    @include media-w($xxs) {
      margin: 0px 57px 8px 98px;
      font-size: 14px;
    }
  }

  &__num {
    margin: 0px 0px 8px 104px;
    @extend %Montserrat-800;
    font-size: 34px;
    line-height: 1.2;

    @include media-w($xxs) {
      font-size: 24px;
      margin: 0px 0px 8px 134px;
    }
  }

  &__content {
    margin: 31px 0px 0px 0px;

    @include media-w($xl) {
      position: relative;
    }
  }

  &__title {
    margin: 0px 0px 62px -21px;
    letter-spacing: 0.01em;

    @include media-w($xl) {
      position: absolute;
      top: -680px;
      left: 0;
      max-width: 234px;
      font-size: 26px;
      line-height: 1.19;
    }

    @include media-w($smm) {
      top: -491px;
      left: -58px;
    }

    @include media-w($xss) {
      top: -491px;
      left: 10%;
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;

    @include media-w($smm) {
      margin-left: -64px;
    }

    @include media-w($xss) {
      margin-left: 0px;
    }
  }

  &__symbol-list {
    margin: 0px 0px 0px -13px;
    font-size: 16px;
    color: $gray;
    line-height: 2.75;

    @include media-w($xs) {
      font-size: 14px;
    }

    @include media-w($xxsl) {
      font-size: 12px;
    }
  }

  &__symbol-item {
    position: relative;
    padding-left: 65px;

    @include media-w($xs) {
      padding-left: 48px;
    }

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      width: 36px;
      height: 1px;
      background: linear-gradient(105.56deg, rgba(226, 246, 133, 0.6) 18.43%, rgba(138, 249, 173, 0.6) 89.58%);
      border-radius: 17px;

      @include media-w($xs) {
        left: 20px;
        width: 20px;
      }
    }
  }

  &__abbreviation-list {
    margin: 0px 0px 0px 34px;
    font-size: 16px;
    line-height: 2.75;
    color: $white;

    @include media-w($smm) {
      margin: 0px 0px 0px 12px;
    }

    @include media-w($xs) {
      font-size: 14px;
    }

    @include media-w($xxsl) {
      font-size: 12px;
    }
  }

  &__bottom {
    position: relative;
    padding: 167px 0px 0px 0px;
    text-align: center;

    @include media-w($smx) {
      padding: 84px 0px 0px 0px;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: -550px;
      width: 848px;
      height: 848px;
      background: rgba(15, 49, 35, 0.8);
      filter: blur(430px);
    }
  }

  &__bottom-title {
    @extend %Montserrat-800;
    font-size: 34px;
    line-height: 1.2;
    color: $accent;
    margin-bottom: -2px;
    margin-left: -75px;

    @include media-w($xl) {
      margin-left: 0px;
    }

    @include media-w($smx) {
      margin-left: -310px;
      font-size: 26px;
    }

    @include media-w($xss) {
      margin-left: 0px;
      text-align: left;
    }
  }

  &__wrap {
    max-width: 1370px;
    display: flex;
    justify-content: space-between;

    @include media-w($xl) {
      flex-direction: column;
      align-items: center;

    }
  }

  &__sliders {
    position: relative;
    max-width: 971px;
  }

  &__conditions {
    max-width: 372px;

    @include media-w($smx) {
      margin-right: auto;
      margin-left: 9px;
    }
  }

  &__slider {
    display: flex;
    height: 272px;

    &--upper {
      margin-bottom: -50px;

      @include media-w($xl) {
        margin-bottom: 96px;
      }

      @include media-w($mdl) {
        margin-bottom: 20px;
        margin-left: 54px;
      }

      @include media-w($sm) {
        margin-left: 119px;
      }

      @include media-w($smx) {
        max-width: 467px;
        margin: 26px 0px 33px 0px;
      }
    }

    &--bottom {
      @include media-w($xl) {
        display: none;
      }
    }
  }

  &__slider-item {
    position: relative;
    width: 176px;
    height: 207px;
    margin-right: 24px;
  }

  &__slider-link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 176px;
    height: 207px;
    z-index: 1;
    transition: 0.5s;

    &::before {
      position: absolute;
      content: '';
      width: 176px;
      height: 208px;
      top: 0;
      left: 0px;
      background-image: url(../images/specifications/cards/card-border.png);
      @extend %bg-center-cover;
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: '';
      width: 308px;
      height: 354px;
      top: -19px;
      left: -68px;
      background-image: url(../images/specifications/cards/card-border-hover.png);
      @extend %bg-center-cover;
      z-index: -1;
      display: none;

      @include media-w($xl) {
        left: -66px;
      }

      @include media-w($smm) {
        width: 304px;
        height: 354px;
        top: -40px;
        left: -65px;
      }
    }

    &:hover {
      top: -31px;
      background: rgba(5, 4, 14, 0.4);
      box-shadow: 0px 34px 74px rgba(162, 220, 137, 0.2);
      border-radius: 20px;

      &::after {
        display: block;
      }

      &::before {
        display: none;
      }

      .specifications__slider-round {
        top: 47px;
        left: 46%;
        color: $gray;
      }

      .specifications__slider-price {
        top: 121px;
        left: 46%;
      }

      .specifications__slider-amount {
        top: 159px;
      }
    }
  }

  &__slider-round {
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    @extend %Montserrat-700;
    text-align: center;
    font-size: 16px;
    line-height: 1.44;
    text-transform: uppercase;
    color: $white;
  }

  &__slider-price {
    position: absolute;
    @extend %Montserrat-800;
    font-size: 34px;
    line-height: 1.2;
    text-align: center;
    top: 101px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 159px;
      height: 80px;
      background: rgba(162, 220, 137, 0.4);
      filter: blur(80px);
    }
  }

  &__slider-amount {
    position: absolute;
    text-align: center;
    top: 139px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    line-height: 2.75;
    color: #5DA271;
  }

  .slick-prev {
    position: absolute;
    background-color: transparent;
    border: transparent;
    bottom: 0px;
    left: 39%;
    z-index: 9;
    display: none;

    @include media-w($mdl) {
      bottom: -25px;
    }
  }

  .slick-next {
    position: absolute;
    background-color: transparent;
    border: transparent;
    bottom: 0px;
    left: 48%;
    z-index: 9;
    display: none;

    @include media-w($mdl) {
      bottom: -25px;
    }

    @include media-w($sm) {
      left: 50%;
    }

    @include media-w($smx) {
      left: 24%;
      bottom: -21px;
    }

    @include media-w($smm) {
      left: 15%;
    }

    @include media-w($xxs) {
      left: 26%;
    }
  }

  .specifications__slider-item {
    @include media-w($smx) {
      width: 176px !important;
      margin-left: -30px;
    }
  }

  .slick-slider .slick-list {
    padding-top: 56px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  &__conditions-card {
    margin-top: 49px;
    padding: 60px 34px 57px 34px;
    position: relative;
    width: 370px;
    height: 349px;
    background: rgba(5, 4, 14, 0.4);
    box-shadow: 0px 34px 74px rgba(162, 220, 137, 0.2);
    border-radius: 20px;
    margin-bottom: 29px;

    @include media-w($smm) {
      margin-bottom: 31px;
    }

    @include media-w($xs) {
      padding: 29px 17px 57px 23px;
      margin-top: 22px;
      width: 320px;
      height: 299px;
    }

    @include media-w($xxs) {
      padding: 24px 20px 22px 29px;
      margin: 22px 0px 31px 0px;
      width: 290px;
      height: 289px;
    }

    @include media-w($xxsl) {
      width: 280px;
      height: 279px;
      padding: 33px 12px 23px 23px;
      margin: 22px 0px 31px -9px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -33px;
      left: -75px;
      width: 507px;
      height: 496px;
      background-image: url(../images/specifications/cards/condition-border.png);
      @extend %bg-center-cover;

      @include media-w($xs) {
        top: -32px;
        left: -57px;
        width: 438px;
        height: 423px;
      }

      @include media-w($xxs) {
        top: -30px;
        left: -5px;
        width: 304px;
        height: 407px;
      }

      @include media-w($xxsl) {
        top: -30px;
        left: -5px;
        width: 296px;
        height: 392px;
      }
    }
  }

  &__conditions-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 38px;

    @include media-w($xxs) {
      margin-bottom: 11px;
    }

    &::after {
      content: '';
      position: absolute;
      top: -52px;
      right: -36px;
      width: 125px;
      height: 125px;
      background-image: url(../images/specifications/cards/embleme.png);
      @extend %bg-center-cover;

      @include media-w($xs) {
        top: -40px;
        right: -30px;
      }
    }
  }

  &__conditions-condition {
    @extend %Montserrat-700;
    font-size: 16px;
    line-height: 1.44;
    text-transform: uppercase;
    color: $hover-span;
  }

  &__conditions-subtitle {
    text-align: left;
    display: block;
    font-size: 12px;
    line-height: 1.91;
    color: #a2dc89;
    margin: 0px auto 0px 0px;
  }

  &__conditions-text {
    text-align: left;
    font-size: 14px;
    line-height: 1.64;
    margin-bottom: 16px;

    @include media-w($xxsl) {
      font-size: 12px;
    }

    &--two {
      margin-bottom: 9px;
    }

    &--tree {
      margin-bottom: 0;
    }
  }

  &__btn {
    width: 370px;
    height: 62px;
    border-radius: 17px;
    margin-left: -13px;

    @include media-w($xs) {
      width: 318px;
      height: 62px;
      margin-left: 1px;
    }

    @include media-w($xxs) {
      width: 296px;
    }

    @include media-w($xxsl) {
      width: 278px;
    }
  }

}